<center>
  <h1>予約確認</h1>
</center>

<form method = "post" action = "">
  <table border = "２">
    <tr>
      <td>宿名</td>
      <td>オーナー</td>
      <td>期間</td>
      <td>おみやげ</td>
      <td></td>
    </tr>
    <% 4.times do %>
      <tr>
        <td>hoge</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </table>
</form>
