<center>
  <h1>忘れ物登録</h1>
</center>

<form method = "post" action = "">

  <ul>
    <li>画像:
      <input type = "file" name = "photo"> 
    </li>
    <li>詳細: <br>
      <input type = "text" name = "lostarticle" size = "30">
    </li>
      <br><input type = "button" value = "追加">
  </ul>

</form>


