<center>
  <h1>My宿</h1>
</center>

<form method = "post" action = "">

<ul>
  <li>宿名：
    <input type = "text" name = "housename" size = "30">
  </li>
  <li>アイコン：</li>
  <li>宿泊人数：
    <select name = "myhouse">
      <option value = "sample1">1</option>
      <option value = "sample2">2</option>
      <option value = "sample3">3</option>
      <option value = "sample4">4</option>
      <option value = "sample5">5</option>
    </select>
  </li>
  <li>お知らせ：<br>
    <textarea name = "information" rows = "4" cols = "40"></textarea>
  </li>

  <p><input type = "submit" value = "変更"></p>
</ul>

</form>
