<center>
<h1>マイページ</h1>
</center>

<ul>
  <li>
    <a href = "http://localhost:3000/owners/myhouse">My宿</a>　　
  </li>
  <li>
    <a href = "http://localhost:3000/owners/confirmation">予約確認</a>　　
  </li>
</ul>
