<center>
  <body>
    <h1>予約</h1>
    <p>期間を選んでください</p>
    <ul>
      <p>てぇっくいん
        <input type="date" min="2017-09-20" max="2017-10-20">
      </p>
      <p>~</p>
      <p>てぇっくあうと
        <input type="date" min="2017-09-20" max="2017-10-20">
      </p>
    </ul>

    <p>手土産
      <input type="text">
    </p>

    <p><input type="submit" value="確定"></p>

  </body>
</center>