
<h1><center>宿リスト</center></h1>

<center>
  <table border="3">
      
    <tr>
      <td>宿名</td>
      <td>オーナー<br>キャッピコピー</br></td>
    </tr>

  </table>
</center>
  
<form class="form-inline">
  <footer>
    
    <div align="left"><a href="">このページについて</a></div>
    
    <div align="right"><a href="">ヘルプ</a></div>
  
  </footer>
</form>