<center>
  <h1>宿名</h1>
  <p>オーナー</p>

  <table border="3" width="60%" height="120">
    <tr>
      <td align="left" valign="top" width="100%" height="120">News</td>
    </tr>
  </table>
  <input type="button" value="予約" onclick='location.href="/create.html.erb"'>
  <input type="button" value="予約状況" onclick='location.href="/new.html.erb"'>
</center>

<table border="0" align="center" width="60%" height="360">
  <tr>
    <td>
      <table border="1" align="center" width="85%" height="360">
        <td align="center" valign="top">オーナーの欲しい物リスト</td>
      </table>
    </td>
  </tr>
</table>
